@model ConfigurationViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Configuration</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Config Name</th>
                <th scope="col">FileFormat</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var config in Model.SavedConfigs)
            {
                <tr>
                    <th scope="row">@config.Id</th>
                    <td>@config.ConfigurationName</td>
                    <td>@config.ConfigType</td>
                    <td>
                        <button type="button" class="btn btn-warning mb-2">Edit</button>
                        <button type="button" class="btn btn-danger mb-2 pl-2">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
